<%= form_with model: school do |form| %>
    <div>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
      <% school.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  
    <div>
      <%= form.submit %>
    </div>
  <% end %>